{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        [
            "@semantic-release/git",
            {
                "tagFormat": "v${version}",
                "assets": [
                    "CHANGELOG.md",
                    "dist/**/*",
                    "docs",
                    "package.json"
                ]
            }
        ]
    ],
    "branches": [
        "main"
    ]
}
